/* !25B;0O B5<0 (?> C<>;G0=8N) */
:root.theme-light {
  --text-color: #000;
  --accent-color: #000;
  --bg-color: #fff;
  --button-text-color: #fff;
  --label-stroke: #fff;
  --headings-font-weight: 700;
  --gradient-start: #e7e7e7;
  --gradient-end: #1a1a1a;
}

/* "Q<=0O B5<0 */
:root.theme-dark {
  --text-color: #00cc14;
  --accent-color: #00cc14;
  --bg-color: #000;
  --button-text-color: #00cc14;
  --label-stroke: #000;
  --headings-font-weight: 785;
  --gradient-start: #000;
  --gradient-end: #007f0c;
}

/* 2B><0B8G5A:0O BQ<=0O B5<0 ?@8 A8AB5<=KE =0AB@>9:0E */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #00cc14;
    --accent-color: #00cc14;
    --bg-color: #000;
    --button-text-color: #00cc14;
    --label-stroke: #000;
    --headings-font-weight: 785;
    --gradient-start: #000;
    --gradient-end: #007f0c;
  }
}
