.page {
  display: grid;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--color);
  font-family: var(--font-base), sans-serif;
  font-variation-settings: "wght" var(--wght);
  font-size: var(--font-size);
  background-image: var(--cover);
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--page-bg-color);
  padding-block-start: 100px;
}

.header {
  display: grid;
  width: 100%;
}

.welcome {
  border: 2px solid var(--contour-color);
  background-color: var(--page-bg-color);
  max-inline-size: 696px;
  margin: 0 auto;
}

.title__decor {
  display: block;
  font-family: var(--font-accent), fantasy;
  font-size: var(--hero-title);
  margin-block-start: clamp(122px, calc(0.00751 * 100vw + 119.18px), 130px);
  align-items: center;
  justify-content: center;
  margin-block-end: 20px;
  text-align: center;
}

.hero__title {
  display: grid;
  max-inline-size: 696px;
  width: 100%;
  font-size: var(--hero-subtitle);
  text-align: center;
  align-content: center;
  font-family: var(--font-accent), fantasy;
  text-transform: uppercase;
  margin-block-end: clamp(122px, calc(0.00751 * 100vw + 119.18px), 130px);
}

main {
  display: grid;
  margin-block: 100px;
  gap: 50px;
}

.card {
  display: grid;
  max-inline-size: 696px;
  background-color: var(--page-bg-color);
  border: 2px solid var(--border-color);
  margin-inline: auto;
}

.card__cover-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

.photo-sepia {
  filter: sepia(1);
}
.photo-bw {
  filter: grayscale(1);
}
.photo-contrast {
  filter: contrast(1.5);
}
.photo-blur {
  filter: blur(3px);
}
.photo-bright {
  filter: brightness(1.3);
}
.photo-saturate {
  filter: saturate(2);
}
.photo-hue {
  filter: hue-rotate(90deg) saturate(1.5);
}

.card__cover {
  position: relative;
}

.card__title {
  font-variation-settings: "wght" var(--card-title-wght);
  padding: 2px 10px;
  font-family: var(--font-base), sans-serif;
  font-size: var(--font-size);
  border-block-end: 2px solid var(--border-color);
}

.card__watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-accent), fantasy;
  text-shadow: -1px 0 var(--page-bg-color), 1px 0 var(--page-bg-color),
    0 -1px var(--page-bg-color), 0 1px var(--page-bg-color);
  font-size: 14px;
  color: var(--color);
  opacity: 0.5;
}

.card__details {
  display: grid;
  font-family: var(--font-base), sans-serif;
  border-block-start: 2px solid var(--border-color);
  padding: 25px;
  gap: 25px;
}

.card__paragraph {
  font-size: 18px;
  line-height: 21px;
}

.card__icon-button {
  display: flex;
  background: transparent;
  color: var(--color);
  cursor: pointer;
  margin: 0;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--border-color, #000);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color, #000000);
}

.card__button {
  display: flex;
  gap: 5px;
  justify-content: end;
}

.button {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid var(--border-color);
  background: var(--button-text-color);
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--button-fill-color);
  transition: width 0.5s ease-in-out;
}

.button .button__text {
  transition: color 0.5s ease-in-out;
}

.button:hover::before {
  width: 100%;
}

.card__like-button {
  width: 130px;
  min-height: 38px;
}

.button__text {
  font-size: var(--button-size);
  color: var(--button-text-color);
  font-family: var(--font-accent), fantasy;
  mix-blend-mode: difference;
}

.button:hover .button__text {
  color: var(--button-text-color);
}

.button svg {
  stroke: white;
  mix-blend-mode: difference;
}

.button:hover svg {
  color: var(--button-text-color);
}

.save {
  display: flex;
  justify-content: center;
}

.save__button {
  min-height: 55px;
  gap: 8px;
  padding: 15px 20px;
}

.dialog[open] {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  min-width: 341px;
  padding-block: 30px;
  padding-inline: clamp(30px, calc(43.52px - 0.939vw), 40px);
  position: fixed;
  background-color: var(--page-bg-color);
  border: 2px solid var(--color);
}

.dialog::backdrop {
  opacity: 0.75;
  background: var(--color);
}

.dialog__title {
  display: flex;
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__container {
  display: grid;
  gap: 30px;
}

.dialog__button {
  display: flex;
  justify-content: center;
  inline-size: 100%;
  min-height: 38px;
  padding: 0px 0px;
}

.dialog__message {
  display: flex;
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
  line-height: 150%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dialog__message svg {
  width: 39px;
  height: 39px;
  inline-size: 80px;
}

@supports (
  (text-stroke: 1px var(--page-bg-color)) or
    (-webkit-text-stroke: 1px var(--page-bg-color))
) {
  .card__watermark {
    -webkit-text-stroke: 1px var(--page-bg-color);
    text-shadow: none;
    text-stroke: 1px var(--page-bg-color);
  }
}

@supports (mix-blend-mode: difference) {
  .button .button__text {
    transition: none;
  }
}

@media (max-width: 768px) {
  .hero__title {
    font-size: var(--hero-subtitle);
  }

  .title__decor {
    font-size: var(--hero-title);
  }

  .save__button {
    flex-direction: column;
  }

  .button__icon {
    width: 25px;
    height: 25px;
  }

  .dialog__icon {
    width: 28px;
    height: 28px;
  }

  .dialog[open] {
    padding: 30px 40px;
  }

  .dialog__message svg {
    width: 39px;
    height: 39px;
    inline-size: 90px;
  }
}
