/* Global CSS custom properties */
:root {
  /* Colors */
  --color: #000;
  --page-bg-color: #fff;
  --contour-color: #000;
  --button-text-color: #fff;
  --button-fill-color: #000;
  --animation-fill-color: #ff0000;
  --border-color: var(--color);

  /* Typography */
  --font-base: "Inter-Variable";
  --font-accent: "PressStart2P";
  --font-size: 18px;
  --button-size: 14px;
  --wght: 410;
  --card-title-wght: 715;

  /* Layout */
  --hero-title: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --hero-subtitle: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);

  /* Background */
  --cover: repeating-linear-gradient(to left, #d3d3d3 0 2px, #d3d3d300 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}
