/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  /* Шрифты */
  --main-font: 'Inter Variable', sans-serif;
  --accent-font: 'PressStart2P', fantasy;

  /* Веса вариативного шрифта */
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Ширина контентной секции */
  --content-width: clamp(375px, 50vw, 700px);
}
